[submodule "Pastel"]
	path = Pastel
	url = https://github.com/silkfire/Pastel
[submodule "PeanutButter"]
	path = PeanutButter
	url = https://github.com/fluffynuts/PeanutButter
[submodule "gulp-tasks"]
	path = gulp-tasks
	url = https://github.com/fluffynuts/gulp-tasks
